<div class="flex flex-col items-center gap-y-10">
    <div class="flex gap-x-5">
        <div class="flex flex-col gap-y-2">
            <label for="filter" class="text-2xl">Filtre</label>
            <input type="text" [(ngModel)]="filter" id="filter"
                class="w-[220px] p-1 font-sans rounded-lg ring-2 ring-pokemon-yellow h-7">
        </div>

        <div class="flex flex-col gap-y-2">
            <label for="pokedex" class="text-2xl">Pokémons</label>
            <select [(ngModel)]="selected" name="pokedex" id="pokedex"
                class="p-1 font-sans rounded-lg ring-2 ring-pokemon-yellow h-7 w-[220px]">
                <option [ngValue]="-1" selected disabled>Séléctionnez un Pokémon</option>
                <option *ngFor="let pokemon of (pokemons | filterPokemonPipe:'name':filter)" [ngValue]="pokemon.id">{{
                    pokemon.name }}</option>
            </select>
        </div>
    </div>

    <img *ngIf="selected !== -1" class="w-64 h-64 pointer-events-none select-none drop-shadow-2xl touch-none saturate-150"
        src="{{pokeapiService.getImage(selected)}}" alt="Photo du Pokémon">

    <div class="flex gap-x-5">
        <button (click)="randomPokemon()"
            class="flex items-center justify-center px-5 py-2 text-2xl duration-200 rounded-md disabled:grayscale bg-pokemon-yellow hover:bg-yellow-500 gap-x-3">
            <img class="w-5 h-5" src="../../assets/img/dice.svg" alt="">
            <span>Aléatoire</span>
        </button>

        <button
            class="flex items-center justify-center px-5 py-2 text-2xl duration-200 rounded-md disabled:grayscale bg-pokemon-yellow hover:bg-yellow-500 gap-x-3"
            [disabled]="selected === -1">
            <img class="w-5 h-5" src="../../assets/img/pokeball.svg" alt="">
            <span>Voir les détails</span>
        </button>
    </div>
</div>