<div class="relative flex flex-col items-center justify-center w-screen h-screen p-10 overflow-hidden">
    <div class="absolute flex items-center w-full top-10 left-10 gap-x-2">
        <img class="w-7" src="../../assets/img/pokeball.svg" alt="">
        <span class="text-xl font-bold text-orange-950">Pokémon</span>
    </div>

    <div class="relative flex items-center justify-between w-full gap-x-10">
        <img (click)="switch('LEFT')" class="z-50" src="../../assets/img/chevron_left.svg" alt="">

        <span [ngStyle]="{color: color, textShadow: '0px 0px 100px ' + color}"
            class="transition-all duration-1000 font-extrabold saturate-[4] text-[max(6vw,13vw)] whitespace-nowrap text-center max-w-full select-none">{{
            name }}</span>

        <img (click)="switch('RIGHT')" class="z-50 rotate-180" src="../../assets/img/chevron_left.svg" alt="">
    </div>

    <div #pokepic class="absolute left-2/4">
        <img class="hover:opacity-20 hover:blur transition-opacity duration-300 select-none 2xl:h-[60vh] aspect-square drop-shadow-2xl touch-none saturate-200 rounded-xl"
            src="{{pokeapiService.getImage(id)}}" alt="Photo du Pokémon" onerror="this.src='../../assets/img/oui.gif'">
    </div>
</div>